[Unit]
Description=Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Iman-j
ExecStart=/root/.local/bin/uv run -- python main.py

# Resource limits
CPUQuota=30%
MemoryMax=1.5G

Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
